@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Poppins&display=swap");
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  font-family: "Raleway";
}
.navbar a {
  color: black;
  text-decoration: none;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfil {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    42deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 100%
  );
  background: -webkit-linear-gradient(
    42deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 100%
  );
  background: linear-gradient(
    42deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e2e2e2",GradientType=1);
}

.perfil h1 {
  font-family: "Montserrat";
}

.perfil h3 {
  font-family: "Poppins";
}

.perfil p {
  font-family: "Raleway";
}

.perfil .imagem {
  height: 200px;
  width: 200px;
  background: url("samp.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
